<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>OnlineVoting</display-name>
	<welcome-file-list>
		<welcome-file>LoginForm.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>voter</servlet-name>
		<servlet-class>pages.LoginAuthentication</servlet-class>

		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3306/advjava?createDatabaseIfNotExist=true&amp;useSSL=false&amp;allowPublicKeyRetrieval=true</param-value>
		</init-param>
		<init-param>
			<param-name>name</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>root123</param-value>
		</init-param>
	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>voter</servlet-name>
		<url-pattern>/validate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterVoter</servlet-name>
		<servlet-class>pages.RegisterVoter</servlet-class>

		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3306/advjava?createDatabaseIfNotExist=true&amp;useSSL=false&amp;allowPublicKeyRetrieval=true</param-value>
		</init-param>
		<init-param>
			<param-name>name</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>root123</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterVoter</servlet-name>
		<url-pattern>/RegisterVoter</url-pattern>
	</servlet-mapping>
	
	

</web-app>